extends layout

block content
  script(src="/javascripts/index.js")
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      h1#MealBuddy MealBuddy
      button#mealCart.btn.btn-default
        span.glyphicon.glyphicon-shopping-cart(type='button', style='display:inline-block;vertical-align:middle;')
        p#cartQuantity(style='display:inline-block;') 0  
  br

  .main.container-fluid 
    div(style='text-align:left')
      h2.display-4.m-b-2 Restrictions
    form#criteria-form
      table#criteriaTable.form-group
        tr.table-row
          td 
          td Restriction Name
          td 
          td
          td
          td Priority
        tr.table-row.criteria-row
          td
            span.glyphicon.glyphicon-remove
          td
            select.form-control.selectpicker.criteria-name(type='text', title='fat, sugar, etc...', data-live-search='true', data-width="200px", data-size="10")
          td
            select.form-control.selectpicker.range-type(data-width="130px")
              option(value='lt') Less than
              option(value='between') Between
              option(value='gt') Greater than
          td(nowrap='true')
            input.form-control.range1(type='number', maxlength='5', value=30)
            p.units1 mg
          td(nowrap='true')
            input.form-control.range2(type='number', maxlength='5', value=50, hidden=true)
            p.units2(hidden=true) mg
          td
            select.form-control.selectpicker.priority(data-width="130px")
              option(value='high') High
              option(value='medium', selected='selected') Medium
              option(value='low') Low

        tr.table-row.criteria-row
          td
            span.glyphicon.glyphicon-remove
          td
            select.form-control.selectpicker.criteria-name(type='text', title='fat, sugar, etc...', data-live-search='true', data-width="200px", data-size="10")
          td
            select.form-control.selectpicker.range-type(data-width="130px")
              option(value='lt') Less than
              option(value='between') Between
              option(value='gt') Greater than
          td(nowrap='true')
            input.form-control.range1(type='number', size='5', value=30)
            p.units1 mg
          td(nowrap='true')
            input.form-control.range2(type='number', size='5', value=30, hidden=true) 
            p.units2(hidden=true) mg
          td
            select.form-control.selectpicker.priority(data-width="130px")
              option(value='high', selected='selected') High
              option(value='medium') Medium
              option(value='low') Low
      
      p C u i s i n e   P r e f e r e n c e ? 
      select#cuisine-type.form-control.selectpicker(type='text', data-live-search='true', data-width="200px")
        option(value='0') No Preference
        option(value='1') Thai
        option(value='2') Italian
        option(value='3') Indian
    br
    button#add.btn.btn-success(type="button") Add Restriction
    button#submit.btn.btn-primary(type="button") Get Suggestions
      


  #suggestions.container-fluid(hidden=true)
    h2 Suggestions

    ul.nav.nav-pills
      li.active 
        a(href='#appetizerTab' data-toggle='pill') Appetizers
      li
        a(href='#mealTab' data-toggle='pill') Meals
      li
        a(href='#sideTab' data-toggle='pill') Sides
      li
        a(href='#snackTab' data-toggle='pill') Snacks
      li 
        a(href='#vegatableTab' data-toggle='pill') Vegetables 
      li 
        a(href='#fruitTab' data-toggle='pill') Fruits 
      li 
        a(href='#beverageTab' data-toggle='pill') Beverages
      li 
        a(href='#dessertTab' data-toggle='pill') Desserts  

    .tab-content
      #appetizerTab.tab-pane.fade.in.active
        .container-fluid
          .row
            #appetizerList.card-group
              //- .card
              //-   img(src='images/default_item_image.jpg')
              //-   .card-block
              //-     h4.card-title Chicken From the Sea, (Chobani) Blueberry
              //-     p.card-text.
              //-       Sugar<br>
              //-       Text
              //-   .card-footer
              //-     small Footer
              //- .card
              //-   img.card-img-top(src='images/default_item_image.jpg')
              //-   .card-block
              //-     .card-title Chicken
              //-     .card-text
              //-       p Sugar 
              //-       p Fat
              //-   .card-footer
              //-     small Footer


      #mealTab.tab-pane.fade
        .container-fluid
          .row
            #mealList.card-group
      #sideTab.tab-pane.fade
        .container-fluid
          .row
            #sideList.card-group
      #snackTab.tab-pane.fade
        .container-fluid
          .row
            #snackList.card-group
      #vegatableTab.tab-pane.fade
        .container-fluid
          .row
            #vegetableList.card-group
      #fruitTab.tab-pane.fade
        .container-fluid
          .row
            #fruitList.card-group
      #beverageTab.tab-pane.fade
        .container-fluid
          .row
            #beverageList.card-group
      #dessertTab.tab-pane.fade
        .container-fluid
          .row
            #dessertList.card-group



  //- Item Modal and Cart Modal
  #itemModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h2#item-modal-title.modal-title Food
        .modal-body
          h4 Your Restriction(s)
          #itemInfoCriteriaDesc
          br
          hr
          br
          h4 Nutrition Info
          #itemInfoDesc
            table
              tr(style="font-weight: bold; color: black;")
                td Serving Size:
                td#itemSERVINGSIZE --

              tr
                td(colspan='2') 
                  h4 Proximates
              tr
                td Calories
                td#itemCALORIES --
              tr
                td Protein
                td#itemPROTEIN --
              tr
                td Total Fat
                td#itemFAT --
              tr
                td Carbohydrate
                td#itemCARBOHYDRATE --
              tr
                td Fiber
                td#itemFIBER --
              tr
                td Sugars
                td#itemSUGAR --

              tr
                td(colspan='2') 
                  h4 Minerals
              tr
                td Calcium:
                td#itemCALCIUM --
              tr
                td Iron:
                td#itemIRON --
              tr
                td Magnesium:
                td#itemMAGNESIUM --
              tr
                td Phosphorus
                td#itemPHOSPHORUS --
              tr
                td Potassium:
                td#itemPOTASSIUM --
              tr
                td Sodium:
                td#itemSODIUM --
              tr
                td Zinc:
                td#itemZINC --

              tr
                td(colspan='2')
                  h4 Vitamins
              tr
                td Vitamin A, RAE:
                td#itemVITAMINA --
              tr
                td Vitamin B-6:
                td#itemVITAMINB6 --
              tr
                td Vitamin B-12:
                td#itemVITAMINB12 --
              tr
                td Vitamin C:
                td#itemVITAMINC --
              tr
                td Vitamin D:
                td#itemVITAMIND --
              tr
                td Vitamin K:
                td#itemVITAMINK --
              tr
                td Thiamin:
                td#itemTHIAMIN --
              tr
                td Riboflavin:
                td#itemRIBOFLAVIN --
              tr
                td Niacin:
                td#itemNIACIN --

              tr
                td(colspan='2')
                  h4 Lipids
              tr
                td Saturated Fat:
                td#itemSATURATEDFAT --
              tr
                td Mono-Unsaturated Fat:
                td#itemMONOUNSATURATEDFAT --
              tr
                td Poly-Unsaturated Fat:
                td#itemPOLYUNSATURATEDFAT --
              tr
                td Cholesterol
                td#itemCHOLESTEROL --

              tr
                td(colspan='2')
                  h4 Other
              tr
                td Caffeine
                td#itemCAFFEINE --
              
              
        .modal-footer
          button.btn.btn-danger.modalButtons(type='button', data-dismiss='modal') Close
          button#addMealCart.btn.btn-primary.modalButtons(type='button') Add To MealCart
          p.modalButtons How Many?
          input#countToAdd.form-control.modalButtons(type='number', size='1', min='1', value=1)
  
  #cartModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4#cart-modal-title.modal-title Your Cart
        #cartModalBody.modal-body
          p#noItems(style="text-align:center") No item in MealCart yet. You can add from suggestions to you Meal Cart
            hr
          #cartTop.container-fluid
            .row(nowrap=true)
              .col-xs-6
                h4(style="border-bottom: 1px solid black") Items
                table#cartItems 
              .col-xs-6
                h4(style="border-bottom: 1px solid black") Your Restriction(s)
                #cartCriteriaDesc
            br
            hr
            br
            h4 Nutrition Info
            #cartNutritionCount.row     
              table
                tr
                  td(colspan='2') 
                    h4 Proximates
                tr
                  td Calories
                  td#cartCALORIES --
                tr
                  td Protein
                  td#cartPROTEIN --
                tr
                  td Total Fat
                  td#cartFAT --
                tr
                  td Carbohydrate
                  td#cartCARBOHYDRATE --
                tr
                  td Fiber
                  td#cartFIBER --
                tr
                  td Sugars
                  td#cartSUGAR --

                tr
                  td(colspan='2') 
                    h4 Minerals
                tr
                  td Calcium:
                  td#cartCALCIUM --
                tr
                  td Iron:
                  td#cartIRON --
                tr
                  td Magnesium:
                  td#cartMAGNESIUM --
                tr
                  td Phosphorus
                  td#cartPHOSPHORUS --
                tr
                  td Potassium:
                  td#cartPOTASSIUM --
                tr
                  td Sodium:
                  td#cartSODIUM --
                tr
                  td Zinc:
                  td#cartZINC --

                tr
                  td(colspan='2')
                    h4 Vitamins
                tr
                  td Vitamin A
                  td#cartVITAMINA --
                tr
                  td Vitamin B-6:
                  td#cartVITAMINB6 --
                tr
                  td Vitamin B-12:
                  td#cartVITAMINB12 --
                tr
                  td Vitamin C:
                  td#cartVITAMINC --
                tr
                  td Vitamin D:
                  td#cartVITAMIND --
                tr
                  td Vitamin K:
                  td#cartVITAMINK --
                tr
                  td Thiamin:
                  td#cartTHIAMIN --
                tr
                  td Riboflavin:
                  td#cartRIBOFLAVIN --
                tr
                  td Niacin:
                  td#cartNIACIN --

                tr
                  td(colspan='2')
                    h4 Lipids
                tr
                  td Saturated Fat:
                  td#cartSATURATEDFAT --
                tr
                  td Mono-Unsaturated Fat:
                  td#cartMONOUNSATURATEDFAT --
                tr
                  td Poly-Unsaturated Fat:
                  td#cartPOLYUNSATURATEDFAT --
                tr
                  td Cholesterol
                  td#cartCHOLESTEROL --

                tr
                  td(colspan='2')
                    h4 Other
                tr
                  td Caffeine
                  td#cartCAFFEINE --

        .modal-footer
          button.btn.btn-danger.modalButtons(type='button', data-dismiss='modal') Close

