extends layout

block content
  script(src="/javascripts/index.js")

  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      h1#MealBuddy MealBuddy
      button#mealCart.btn.btn-default
        span.glyphicon.glyphicon-shopping-cart(type='button', style='display:inline-block;vertical-align:middle;')
        p#cartQuantity(style='display:inline-block;') 0  
  br

  #splashContainer
    h1#splashMsg Meal Planning For Your Specific Diet.
    button.btn(type='button') E N T E R
  .blurBG
  .main.container-fluid(style='display:none;') 
    button#how-it-works H o w &nbsp; I t &nbsp; W o r k s
    div(style='text-align:left')
      h2.display-4.m-b-2 Requirements
      hr(style='width:300px;')
      br

    ul#searchType.nav.nav-pills
      li.active 
        a(href='#mealPlan' name='Breakfast' data-toggle='pill') For Meal
      li
        a(href='#itemPlan' name='Entrees' data-toggle='pill') For Item

    .tab-content
      #mealPlan.tab-pane.fade.in.active
        .container-fluid
          .row
            form#criteria-form
              table#criteriaMealTable.form-group
                tr.table-row
                  td 
                  td Restriction Name
                  td 
                  td
                  td
                  td Tolerance
                tr.table-row.criteria-row
                  td
                    span.glyphicon.glyphicon-remove
                  td
                    select.form-control.selectpicker.criteria-name(type='text', title='Fat, Sugar, etc...', data-live-search='true', data-width="200px", data-size="7")
                  td
                    select.form-control.selectpicker.range-type(data-width="200px")
                      option(value='lt') Less than
                      option(value='between') Between
                      option(value='gt') Greater than
                  td(nowrap='true')
                    input.form-control.range1(type='number', maxlength='5')
                    p.units1 mg
                  td(nowrap='true')
                    input.form-control.range2(type='number', maxlength='5', hidden=true)
                    p.units2(hidden=true) mg
                  td
                    select.form-control.selectpicker.priority(data-width="200px")
                      option(value='low', data-subtext="+/- 0%") Low
                      option(value='medium', selected='selected', data-subtext="+/- 10%") Medium
                      option(value='high', data-subtext="+/- 20%") High

      #itemPlan.tab-pane.fade.in
        .container-fluid
          .row
            form#criteria-form
              table#criteriaItemTable.form-group
                tr.table-row
                  td 
                  td Restriction Name
                  td 
                  td
                  td
                  td Tolerance
                tr.table-row.criteria-row
                  td
                    span.glyphicon.glyphicon-remove
                  td
                    select.form-control.selectpicker.criteria-name(type='text', title='Fat, Sugar, etc...', data-live-search='true', data-width="200px", data-size="7")
                  td
                    select.form-control.selectpicker.range-type(data-width="200px")
                      option(value='lt') Less than
                      option(value='between') Between
                      option(value='gt') Greater than
                  td(nowrap='true')
                    input.form-control.range1(type='number', maxlength='5')
                    p.units1 mg
                  td(nowrap='true')
                    input.form-control.range2(type='number', maxlength='5',hidden=true)
                    p.units2(hidden=true) mg
                  td
                    select.form-control.selectpicker.priority(data-width="200px")
                      option(value='low', data-subtext="+/- 0%") Low
                      option(value='medium', selected='selected', data-subtext="+/- 10%") Medium
                      option(value='high', data-subtext="+/- 20%") High

              
    p(style="font-weight:400;") C u i s i n e  &nbsp; P r e f e r e n c e ? 
    select#cuisine-type.form-control.selectpicker(type='text', data-live-search='true', data-width="200px")
      option(value='0') No Preference
      option(value='1') American
      option(value='2') Italian
      option(value='3') Indian
      option(value='4') Japanese
      option(value='5') Chinese
      option(value='6') Korean
      option(value='7') Mexican
      option(value='8') Vietnamese
      option(value='9') Thai
      option(value='10') French
      option(value='11') English  
    br
    br
    button#add.btn.btn-warning(type="button") Add Restriction
    button#submit.btn.btn-success(type="button") Get Suggestions
    br
    button#viewAll.btn.btn-secondary(style="margin-top:10px;", type="button") View All Items


  #suggestions.container-fluid(hidden=true)
    h2 Suggestions
    hr(style='width:300px;')
    br
    ul.nav.nav-pills
      li.active 
        a(href='#breakfastTab' name='Breakfast' data-toggle='pill') Breakfast
          span.amount
      li
        a(href='#entreeTab' name='Entrees' data-toggle='pill') Entrees
          span.amount
      li
        a(href='#sideTab' name='Sides' data-toggle='pill') Sides
          span.amount
      li
        a(href='#snackTab' name='Snacks' data-toggle='pill') Snacks
          span.amount
      //- br
      li 
        a(href='#vegetableTab' name='Vegetables' data-toggle='pill') Vegetables
          span.amount
      li 
        a(href='#fruitTab' name='Fruits' data-toggle='pill') Fruits
          span.amount
      li 
        a(href='#beverageTab' name='Beverages' data-toggle='pill') Beverages
          span.amount
      li 
        a(href='#dessertTab' name='Desserts' data-toggle='pill') Desserts
          span.amount

    .tab-content
      #breakfastTab.tab-pane.fade.in.active
        .container-fluid
          .row
            p.no-matches No Breakfast Matches Your Restrictions
            #breakfastList.card-group
      #entreeTab.tab-pane.fade
        .container-fluid
          .row
            p.no-matches No Entrees Matches Your Restrictions
            #entreeList.card-group
      #sideTab.tab-pane.fade
        .container-fluid
          .row
            p.no-matches No Sides Matches Your Restrictions
            #sideList.card-group
      #snackTab.tab-pane.fade
        .container-fluid
          .row
            p.no-matches No Snacks Matches Your Restrictions
            #snackList.card-group
      #vegetableTab.tab-pane.fade
        .container-fluid
          .row
            p.no-matches No Vegetables Matches Your Restrictions
            #vegetableList.card-group
      #fruitTab.tab-pane.fade
        .container-fluid
          .row
            p.no-matches No Fruit Matches Your Restrictions
            #fruitList.card-group
      #beverageTab.tab-pane.fade
        .container-fluid
          .row
            p.no-matches No Beverages Matches Your Restrictions
            #beverageList.card-group
      #dessertTab.tab-pane.fade
        .container-fluid
          .row
            p.no-matches No Desserts Matches Your Restrictions
            #dessertList.card-group



  //- Item Modal and Cart Modal
  #itemModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h2#item-modal-title.modal-title Food
        .modal-body
          h4 Your Restriction(s)
          #itemInfoCriteriaDesc
          br
          hr
          br
          h4 Nutrition Info
          #itemInfoDesc
            table
              tr(style="font-weight: bold; color: black;")
                td Serving Size:
                td#itemSERVINGSIZE --

              tr
                td(colspan='2') 
                  h4 Proximates
              tr
                td Calories
                td#itemCALORIES --
              tr
                td Protein
                td#itemPROTEIN --
              tr
                td Total Fat
                td#itemFAT --
              tr
                td Carbohydrate
                td#itemCARBOHYDRATE --
              tr
                td Fiber
                td#itemFIBER --
              tr
                td Sugars
                td#itemSUGAR --

              tr
                td(colspan='2') 
                  h4 Minerals
              tr
                td Calcium:
                td#itemCALCIUM --
              tr
                td Iron:
                td#itemIRON --
              tr
                td Magnesium:
                td#itemMAGNESIUM --
              tr
                td Phosphorus
                td#itemPHOSPHORUS --
              tr
                td Potassium:
                td#itemPOTASSIUM --
              tr
                td Sodium:
                td#itemSODIUM --
              tr
                td Zinc:
                td#itemZINC --

              tr
                td(colspan='2')
                  h4 Vitamins
              tr
                td Vitamin A, RAE:
                td#itemVITAMINA --
              tr
                td Vitamin B-6:
                td#itemVITAMINB6 --
              tr
                td Vitamin B-12:
                td#itemVITAMINB12 --
              tr
                td Vitamin C:
                td#itemVITAMINC --
              tr
                td Vitamin D:
                td#itemVITAMIND --
              tr
                td Vitamin K:
                td#itemVITAMINK --
              tr
                td Thiamin:
                td#itemTHIAMIN --
              tr
                td Riboflavin:
                td#itemRIBOFLAVIN --
              tr
                td Niacin:
                td#itemNIACIN --

              tr
                td(colspan='2')
                  h4 Lipids
              tr
                td Saturated Fat:
                td#itemSATURATEDFAT --
              tr
                td Mono-Unsaturated Fat:
                td#itemMONOUNSATURATEDFAT --
              tr
                td Poly-Unsaturated Fat:
                td#itemPOLYUNSATURATEDFAT --
              tr
                td Cholesterol
                td#itemCHOLESTEROL --

              tr
                td(colspan='2')
                  h4 Other
              tr
                td Caffeine
                td#itemCAFFEINE --
              
              
        .modal-footer
          button.btn.btn-danger.modalButtons(type='button', data-dismiss='modal') Close
          button#addMealCart.btn.btn-primary.modalButtons(type='button') Add To MealCart
          p.modalButtons # of Servings:
          input#countToAdd.form-control.modalButtons(type='number', size='1', min='1', value=1)
          .legend
            .status-symbols.fa.fa-check-circle Within you restrictions
            br
            .status-symbols.fa.fa-exclamation-circle Close, but not within
            br
            .status-symbols.fa.fa-times-circle Not good
  
  #cartModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h4#cart-modal-title.modal-title Your Cart
        #cartModalBody.modal-body
          p#noItems(style="text-align:center") No item in MealCart yet. You can add from suggestions to you Meal Cart
            hr
          #cartTop.container-fluid
            .row(nowrap=true)
              .col-xs-7
                h4(style="border-bottom: 1px solid black") Items
                table#cartItems 
                button#updateServBtn.btn.btn-default Update
              .col-xs-5
                h4(style="border-bottom: 1px solid black") Your Restriction(s)
                #itemOnHoverDesc
                #cartCriteriaDesc
            br
            hr
            br
            h4 Nutrition Info
            #cartNutritionCount.row     
              table
                tr
                  td(colspan='2') 
                    h4 Proximates
                tr
                  td Calories
                  td#cartCALORIES --
                tr
                  td Protein
                  td#cartPROTEIN --
                tr
                  td Total Fat
                  td#cartFAT --
                tr
                  td Carbohydrate
                  td#cartCARBOHYDRATE --
                tr
                  td Fiber
                  td#cartFIBER --
                tr
                  td Sugars
                  td#cartSUGAR --

                tr
                  td(colspan='2') 
                    h4 Minerals
                tr
                  td Calcium:
                  td#cartCALCIUM --
                tr
                  td Iron:
                  td#cartIRON --
                tr
                  td Magnesium:
                  td#cartMAGNESIUM --
                tr
                  td Phosphorus
                  td#cartPHOSPHORUS --
                tr
                  td Potassium:
                  td#cartPOTASSIUM --
                tr
                  td Sodium:
                  td#cartSODIUM --
                tr
                  td Zinc:
                  td#cartZINC --

                tr
                  td(colspan='2')
                    h4 Vitamins
                tr
                  td Vitamin A
                  td#cartVITAMINA --
                tr
                  td Vitamin B-6:
                  td#cartVITAMINB6 --
                tr
                  td Vitamin B-12:
                  td#cartVITAMINB12 --
                tr
                  td Vitamin C:
                  td#cartVITAMINC --
                tr
                  td Vitamin D:
                  td#cartVITAMIND --
                tr
                  td Vitamin K:
                  td#cartVITAMINK --
                tr
                  td Thiamin:
                  td#cartTHIAMIN --
                tr
                  td Riboflavin:
                  td#cartRIBOFLAVIN --
                tr
                  td Niacin:
                  td#cartNIACIN --

                tr
                  td(colspan='2')
                    h4 Lipids
                tr
                  td Saturated Fat:
                  td#cartSATURATEDFAT --
                tr
                  td Mono-Unsaturated Fat:
                  td#cartMONOUNSATURATEDFAT --
                tr
                  td Poly-Unsaturated Fat:
                  td#cartPOLYUNSATURATEDFAT --
                tr
                  td Cholesterol
                  td#cartCHOLESTEROL --

                tr
                  td(colspan='2')
                    h4 Other
                tr
                  td Caffeine
                  td#cartCAFFEINE --

        .modal-footer
          button.btn.btn-danger.modalButtons(type='button', data-dismiss='modal') Close
          .legend
            .status-symbols.fa.fa-check-circle Within you restrictions
            .status-symbols.fa.fa-exclamation-circle Close, but not within
            .status-symbols.fa.fa-times-circle Not good
  #notification-results(style='display:none;')
    p There were 61 matches for you restrictions
  #notification-modal-events 
    p#modalNotifyMsg Item <br>been added to your cart!!
    i(style='font-size:70px;').fa.fa-check-circle
  #tutorial 
    i.fa.fa-times-circle
    h4 2 Options
    pre For Meal
    p.
      Select from the list of requirements and input the corresponding values (eg. Sugar &lt; 20g low tolerance, Calories between 300 and 600Cal medium tolerance, etc...). Tolerance indicates how much the suggestions are allowed to deviate from your requirement. Clicking Get Suggestions will list out all items that matches your criterias. You can then click and view more Nutrition Facts for each item and add it to your MealCart.<br><br> 

      NOTE: These requirements are for the entire meal. So the list of suggestions may include items that are less than 300 Cal as well, since you can add multiple items to your MealCart that eventually add up to 300-600 Cal. To find items that match exactly to your requirements, use the For Item tab.
    pre For Item
    p.
      Here, you can do the same as before (eg. Sugar &lt; 20g low tolerance, Calories between 300 and 600Cal medium tolerance, etc...) but this time, you will only get suggestions that fall <i>exactly</i> within your requirements. 
    hr
    hr(style="margin-bottom:10px;")
    pre MealCart
    p.
      Located on the top right is the MealCart. When you open your MealCart, it shows all Your Items you have added along with the # of servings for each item. To easily keep track of your meal restrictions, the total for the restrictions you entered in the 'For Meal' tab is displayed on the right side of the Cart. Below that is the total Nutritional Info for your cart. 
    button#closeTutorial.btn Close


